<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DeveloverEntities" connectionString="metadata=res://*/DeveloverWarehouseDataModel.csdl|res://*/DeveloverWarehouseDataModel.ssdl|res://*/DeveloverWarehouseDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=devlover.ddns.net,1435;initial catalog=Develover;persist security info=True;user id=develover;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>